.about {
  padding: 70px 0 50px;

  @include maxw($md) {
    padding: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include maxw($md) {
      display: block;
    }
  }
 
  &__content {
    max-width: 787px;
    width: 100%;
  } 

  &__title {
    @extend %montserrat-700;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 54px;

    @include maxw($xs) {
      margin-bottom: 20px;
    }
  } 

  &__text {
    color: #8FA2A6;
  }

  &__text p:not(:last-child) {
    margin-bottom: 30px;
  } 

  &__image {
    width: 40%;
    margin-right: 30px;
    display: flex;
    justify-content: center;

    @include maxw($md) {
      margin-right: 0;
      display: block;
      width: 100%;
    }
   

    img {
      max-width: 360px;
      height: 300px;
      object-fit: cover;

      @include maxw($md) {
        width: 100%;
      }
    }
  }
}