.numbers {
  padding-bottom: 150px;

  @include maxw($sm) {
    padding-bottom: 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;

    @include maxw($lg) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 34px;
    line-height: 1.2;
    @extend %montserrat-800;
    color: #B4F299;
    margin: 0 57px 15px 0;
  }

  &__select {
    border-bottom: 1px dotted rgba(180, 242, 153, 0.5);
  }

  .jq-selectbox__select {
    height: 32px;
    padding: 0 25px 0 0;
    border: none;
    background: transparent;
    box-shadow: none;
    color: rgba(180, 242, 153, 0.5);
    text-shadow: none;
    @extend %montserrat-700;
    font-size: 24px;
    line-height: 1;
    outline: none;
    width: 276px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: transparent;
      color: #B4F299;
    }
  }

  .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 8px;
    height: 8px;
    border:none;
    background-image: url('../images/numbers/drop-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .jq-selectbox li, .jq-select-multiple li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    background-color: rgba(#2a491d, 0.2);
    padding: 5px;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    border-bottom: 1px solid rgba(#80e456, 0.3);
    min-width: 276px;
    transition: all 0,3s;

    @include maxw($lg) {
      background-color: rgba(#2a491d, 1);
    }

    &:hover {
      background-color: rgba(#4e7a39, 0.2);

      @include maxw($lg) {
        background-color: rgba(#4e7a39, 1);
      }
    }
  }

  &__list {
    padding-left: 70px;

    .numbers__item {
      font-size: 12px;
      line-height: 2;
      margin-bottom: 16px;
      @extend %montserrat-600;
      text-transform: uppercase;
      position: relative;
    }

    .numbers__item:nth-child(odd) {
      color:#D8A834;

      &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        padding-left: 10px;
        border-radius: 50%;
        left: -25px;
        top: 5px;
        background: linear-gradient(139.33deg, #BBC423 -14.59%, #E99A3D 99.86%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      }
    }

    .numbers__item:nth-child(even) {
      color: #7EE8A0;

      &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        padding-left: 10px;
        border-radius: 50%;
        left: -25px;
        top: 5px;
        background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
        box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
      }
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 90px;
    flex-wrap: wrap;

    @include maxw($xs) {
      display: block;
      margin-bottom: 30px;
    }
  } 

  &__stat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 420px;
    width: 240px;

    @include maxw($xs) {
      height: 380px;
      display: block;
      margin: 0 auto;
    }
  }

  &__stat-text {
    display: block;
    margin-top: -50px;
  }

  &__descr {
    color: #8FA2A6;
    p:not(:last-child) {
      margin-bottom: 25px;
    }
  }
} 


